@use '/src/common/styles/colors' as *;
@use '/src/common/styles/mixins' as *;
@use '/src/common/styles/template' as *;

$indent: 10px;
.user-profile {
  padding: $indent;
  padding-left: $indent * 3;
  margin: $indent;
  // background-color: $secondaryBgColor;
  width: 250px;
  h2 > span {
    color: $accentColor;
  }
  .flex {
    @include flex(row, nowrap, center, center);
    font-size: 1.5em;
    span {
      color: $infoColor;
    }
  }
  .amount {
    padding: 0 $indent * 2;
  }
}


.select{
  border: 4px solid $accentColor;
}
.noselect{
  border: 4px solid $infoColor;
}

.light{
  @extend %light;
}

.dark{
  @extend %dark;
}